<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/log_&_sign.css') }}">
    <script src="{{ url_for('static', filename='sign_up_error_handling.js') }}" defer></script>
</head>
<body>
    <div class="login-form">
        <h2 class="title">Create an Account</h2>
        
        <form action="/create_account" method="POST">
            <div class="input-group">
                <input type ="email" id="email" name="email" placeholder=" " required>
                <label for  ="email">Email Address</label>
            </div>
            <div class="input-group">
                <input type ="password" id="password" name="password" placeholder=" " required>
                <label for  ="password">Create Password</label>
            </div>
            <button type="submit" class="continue-btn">Sign Up</button>
        </form>
    </div>
    <div id="flash-messages">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>










